.about {
  background-color: black;
  width: 100%;
  display: grid;
  height: 100vh;
  &__container {
    width: 768px;
    margin: 0 auto;
    align-self: flex-start;
    display: grid;
    column-gap: 15rem;
    grid-template-columns: repeat(2, 1fr);
  }
  &__title {
    align-self: center;
    position: relative;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 7rem;
    &::after {
      content: "";
      position: absolute;
      top: 4.5rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 40px;
      height: 0.5rem;
      background-color: $text-color;
    }
  }
  &__subtitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  &__info {
    align-self: center;
    justify-self: flex-end;
    font-size: 1.5rem;
    margin-top: -1rem;
    text-align: left;
  }
  &__photo {
    margin-top: 1rem;
    width: 25rem;
    height: auto;
    justify-self: flex-end;
    margin-left: 3rem;
    align-self: center;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
      // box-shadow: 0 1px 8px rgba($black-color, 0.1);
    }
  }
}
@media screen and (max-width: 768px) {
  .about {
    &__container {
      width: 100%;
      grid-template-columns: 100%;
      row-gap: 5rem;
    }
    &__info {
      padding: 0.2rem 5rem;
      text-align: center;
    }
    &__photo {
      justify-self: center;
    }
  }
}
