@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*========== Colors ==========*/
$first-color: #6923d0;
$second-color: #a51ce8;
$third-color: #d31bde;
$first-color-light: #f4f0fa;
$title-color: #19181b;
$text-color: #58555e;
$text-color-light: #a5a1aa;
$body-color: #f9f6fd;
$container-color: #ffffff;
$black-color:#000;

$facebook-color:rgb(54, 74, 147);
$istagram-color:rgb(249, 0, 81);
$twitter-color:rgb(0, 166, 234);;
$github-color:rgb(21, 27, 34);

/*========== Font and typography ==========*/
$font-family: "Inter", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
}

body {
  font-family: $font-family;
  background-color: $container-color;
  color: $text-color;
}
h1{
  font-size: 7rem;
}
h2{
  font-size: 6.5rem;
}
img{
  width: 100%;
  height: auto;
}


