@import "utils";

.header {
  background-color: $container-color;
  box-shadow: 0 0.1rem 0.5rem rgba(#19181b, 0.15);
  width: 100%;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  &__toggle {
    display: none;
    height: 7rem;
    position: fixed;
    top: 0;
    right: 1rem;
    transition: all 0.2s;
    @media (max-width: 500px) {
      display: flex;
    }

    i {
      width: 2.3rem;
      font-size: 2.25rem;
      align-self: center;
      color: $text-color;
      cursor: pointer;
    }
  }
  @include display-flex(center, center, 0);

  &__content {
    width: 100%;
    height: 7rem;
    @include display-flex(center, space-between, 0);
  }
  &__user {
    background-color: $black-color;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
    &-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      transition: 0.1s;
      &:hover {
        opacity: 0.98;
      }
    }
  }
}
.nav {
  width: 100%;
  @include display-flex(center, space-between, 0);

  &__user {
    display: none;
  }

  &__logo {
    opacity: 1;
    flex: 0.85;
    span {
      margin-left: 0.7rem;
      font-size: 1.4rem;
      &:hover {
        color: $first-color;
      }
    }
  }
  &__list {
    @include display-flex(center, center, 0.5rem);
    flex: 1;

    @media (max-width: 500px) {
      display: none;
    }
  }
  &__item {
    padding: 0.7rem;
  }
  &__link {
    color: $text-color;
    text-transform: capitalize;
    font-size: 1.58rem;
    font-weight: 300;
    transition: all 0.1s;
    i{
     display: none;
    }
  }
  &__link:hover {
    color: $first-color;
  }
  &__icons {
    @include display-flex(center, flex-end, 0.27rem);
    flex: 1;

    @media (max-width: 500px) {
      display: none;
    }

    i {
      font-size: 2.3rem;
      color: $text-color;
      transition: all 0.2s;
      cursor: pointer;
      @include hover-social-icons;
    }
  }
}
