.home {
  display: grid;
  height: 100vh;
  padding: 0 4rem 2rem ;
  margin: 0 5rem 5rem;
  grid-template-columns: repeat(2, 1fr);
  font-family: inherit;
  margin-bottom: 15rem;
  &__data {
    align-self: center;
    justify-self: center;
    font-family: inherit;
  }
  &__name {
    color: $first-color;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &__title {
    font-weight: 700;
    letter-spacing: 1px;
  }
  &__subtitle {
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 1rem;
  }
  &__button{
      display:inline-block;
      text-align: center;
      background-color: $first-color;
      color: $container-color;
      padding: 1.5rem 2rem ;
      border-radius: 5px;
      margin-top: 3rem;
      font-size: 1.7rem;
      transition: all .3s ease;
      @include hover-button;
  }
  &__photo {
    align-self: center;
    justify-self: center;
    width: 45rem;
    padding-top: 3rem;
  }
  &__blob {
    fill: $first-color;
    &-img {
      object-fit: cover;
      width: 48rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    margin: 7.5rem 0 0 1rem ;
    grid-template-columns: 1fr;
    &__data {
      margin-bottom: 4rem;
    }
    &__name {
        color: $first-color;
        font-weight: 700;
      }
      &__title {
        font-size: 5.5rem;
        font-weight: 700;
      }
      &__subtitle {
        font-size: 4.5rem;
        font-weight: 500;
      }
      &__photo {
        align-self: center;
        justify-self: center;
        width: 40rem;
      }
      &__blob {
        fill: $first-color;
        &-img {
          object-fit: cover;
          width: 48rem;
        }
      }
  }
}
