.home {
  display: grid;
  column-gap: 3rem;
  max-width: 102.4rem;
  height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
  grid-template-columns: repeat(2, 1fr);
  font-family: inherit;
  &__data {
    align-self: center;
    justify-self: center;
    font-family: inherit;
  }
  &__name,
  &__title {
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  &__name {
    color: $first-color;
  }
  &__subtitle {
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 1rem;
  }
  &__button {
    display: inline-block;
    text-align: center;
    background-color: $first-color;
    color: $container-color;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    margin-top: 3rem;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    @include hover-button;
  }
  &__photo {
    align-self: center;
    justify-self: center;
    width: 45rem;
    padding-top: 3rem;
  }
  &__blob {
    fill: $first-color;
    &-img {
      object-fit: cover;
      width: 48rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    &__data {
      margin-bottom: -2rem;
    }
    &__name {
      color: $first-color;
    }
    &__title {
      font-size: 5rem;
    }
    &__subtitle {
      font-size: 4.3rem;
      font-weight: 600;
    }
    &__photo {
      align-self: flex-start;
      justify-content: center;
      width: 37rem;
    }
    &__blob {
      fill: $first-color;
      &-img {
        object-fit: cover;
        width: 48rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .home {
    grid-template-columns: 1fr;
    &__data {
      margin-bottom: -3rem;
    }

    &__title,
    &__subtitle,
    &__name {
      font-size: 4rem;
      font-weight: 600;
    }
    &__photo {
      width: 29rem;
    }
    &__blob {
      &-img {
        width: 48rem;
      }
    }
  }
}
