@import 'utils';
@media screen and(max-width:500px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    background-color: $container-color;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem 30vh 30vh 1fr;
    width: 35rem;
    height: 100vh;
    box-shadow: 0.5rem 0 2rem rgba($black-color, 0.15);
    transition: all 0.5s ease;

    &__user {
      align-self: flex-end;
      justify-self: center;
      display: block;
      position: relative;
      margin-top: -5rem;

      &-img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        object-fit: cover;

        &:hover {
          transform: scale(1.04) translateY(1px);
        }
      }
      &-caption {
        @include display-flex(center, center, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-color: hsla(0, 0%, 0%, 0.173);
        color: $container-color;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        font-weight: 300;

        opacity: 0;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }

    &__logo {
      text-align: center;
      padding-right: 1rem;
      opacity: 1;
      span {
        font-size: 1.7rem;
        &:hover {
          color: $first-color;
        }
      }
    }
    &__list {
      @include display-flex(center, center, 0.5rem);
      flex-direction: column;
      align-self: flex-start;
      margin-top: 2.5rem;
    }

    &__link {
      @include display-flex(center, flex-start, 0.35rem);
      i {
        display: block;
      }
    }

    &__icons {
      align-self: flex-end;
      justify-self: center;
      padding-bottom: 1.5rem;
      @include display-flex(center, flex-end, 0.27rem);
      i {
        font-size: 2.3rem;
      }
    }
  }
}
