@import 'utils';
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.skills {
  &__container {
    row-gap: 1rem;
    text-align: center;
  }
  &__subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  @include title;
  &__text {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
  }

  &__data {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    margin-bottom: 2rem;
  }
  &__names {
    display: flex;
    align-items: center;
  }
  &__icon {
    font-size: 3.5rem;
    color: $first-color;
    margin-right: 0.7rem;
  }
  &__name {
    font-size: 1.3rem;
    font-weight: 600;
  }
  &__bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 0.275rem;
    border-radius: 5px;
    background-color: $first-color;
    z-index: -3;
  }
  &__img {
    border-radius: 5px;
  }
  &__html {
    width: 95%;
  }
  &__css {
    width: 85%;
  }
  &__js {
    width: 65%;
  }
  &__ux {
    width: 85%;
  }
  &__percentage {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 280px) {
  .section-title {
    margin-bottom: 4rem;
    &::after {
      top: 3rem;
    }
  }
}
@media screen and (min-width: 576px) {
  .section-title {
    margin-bottom: 4rem;

    &::after {
      top: 3rem;
    }
  }
  .skills {
    &__container {
      grid-template-columns: 0.75fr;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 4rem;

    &::after {
      width: 5rem;
      top: 3rem;
    }
  }
  .skills {
    &__container {
      margin: 0 auto;
      padding: 0 1rem;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      align-items: center;
      text-align: initial;

      & div > {
        justify-items: center;
      }
    }
  }
}
@media screen and (min-width: 968px) {
  .section-title {
    margin-bottom: 4rem;

    &::after {
      width: 9rem;
      height: 0.275rem;
      top: 5rem;
    }
  }
  .skills {
    &__container {
      padding: 0 1rem;
      column-gap: 3rem;
    }
  }
}
